<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/slicknav.css">
    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="assets/style.css">
    <link rel="stylesheet" href="assets/responsive.css">
    <script src="assets/js/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-route.min.js"></script>
    <script src="assets/js/app.js"></script>
    
    <script src="assets/js/data.js"></script>



    <!--        <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>-->




</head>

<body ng-app="myMolule" ng-controller="myCtrl">
    <div class="angular">
<!--
        <h1>45+25={{45+25}}</h1>
        <h1>{{"hi Apurba!!"}}</h1>
        <h1>{{me}}</h1>
        <h1 ng-bind="man.name"></h1>
        <h1 ng-bind="man.age"></h1>
        <input type="text" ng-model="name">
        <h1>{{name}}</h1>
        <div ng-if="fine">
            <h1>bangladesh</h1>
        </div>
        <button ng-click="showData()">ShowData</button>
            <button ng-click="hideData()">hideData</button>
        
-->

        <div class="abs">{{ me }} </div>
            <input type="text" ng-model="search.name">
            
            <table class="table">

                <thead>
                    <tr>
                        <th>Name</th>
                        <th>DEPT.</th>
                        <th>RESULT</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="student in students | filter:search">
                        <td>{{student.name}}</td>
                        <td>{{student.sub}}</td>
                        <td>{{student.status}}</td>
                    </tr>
                </tbody>
            </table>
        
<!--    </div>-->




<!--
<div class="view">
    <div class="container">
       <div class="row">
           <div class="red" style="height:100px;width:100%;background-color:red">

           </div>
       </div>
        <div class="row">
            <div class="col-md-4">
                <ul>
                    <li><a href="#dhaka">dhaka</a></li>
                    <li><a href="#comilla">comilla</a></li>
                    <li><a href="#mymensingh">mymensingh</a></li>
                    <li><a href="#sylhet">sylhet</a></li>
                </ul>
            </div>
            <div class="col-md-8">


            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit explicabo quae tenetur facilis laudantium, dolorem rerum assumenda eos quod similique reprehenderit enim dolor at nihil atque molestiae, culpa minus odit voluptate corrupti minima placeat iste! Quia, a repellendus eum recusandae sint cum quas eligendi molestiae et dicta, amet, nobis laborum.
            </p>
                <div ng-view></div>


            </div>
        </div>
    </div>
-->











</div>




    <script src="assets/js/vendor/jquery-1.12.0.min.js"></script>
    <script src="assets/js/plugins.js"></script>

    <script src="assets/js/bootstrap.min.js"></script>

    <script src="assets/js/jquery.slicknav.min.js"></script>
    <!--        <script src="assets/js/jquery.fitvids.js"></script>-->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/main.js"></script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        (function (b, o, i, l, e, r) {
            b.GoogleAnalyticsObject = l;
            b[l] || (b[l] =
                function () {
                    (b[l].q = b[l].q || []).push(arguments)
                });
            b[l].l = +new Date;
            e = o.createElement(i);
            r = o.getElementsByTagName(i)[0];
            e.src = 'https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e, r)
        }(window, document, 'script', 'ga'));
        ga('create', 'UA-XXXXX-X', 'auto');
        ga('send', 'pageview');
    </script>
</body>

</html>
